@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


$font-family-main: 'Roboto', sans-serif;




// Color

$color-body:#EBF2F7;
$color-primary:#A3FFD3;
$color-heading: #212121;
$color-text-content: #25265eb3;
$color-gray: #B9B9B9;


$color-redish: #FF9090;
$color-white:#fff;
$color-denger:#FFAFAF;

$color-btn : rgba(163, 255, 211, 1);
$color-btn-2: #5CC8A1;

$background-blur:rgba(0, 0, 0, 0.4);

// Font sizes
$font-Size-lg : 1.55rem;
$font-Size-md:1.25rem; 
$font-Size-sm: 1rem; 


//font weight
$weight-lg:700;
$weight-md:400;
$weight-sm:700;

//Other unique
$box-shadow :  0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);


